---
import Nav from "../components/Nav.astro";
import "../style/global.css";

const description = "TODO";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basic config -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- twitter & opengraph -->
    <meta
      name="twitter:image"
      content="https://gurgel.io/images/twitter-card.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@gurgelio" />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:image" content="https://gurgel.io/images/twitter-card.png" />

    <!-- metadata -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <!-- styles -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#171717" />

    <!-- TODO: plausible analytics -->
  </head>
  <body class="h-screen bg-neutral-800 text-white antialiased">
    <Nav />
    <slot />
  </body>
</html>
